<section id="intro" class="main">
<h1>Control Panel</h1>
<ul class="actions">
      <li><%= link_to 'Orders', {:controller => :orders, :action => :index}, class: "button big" %></li>
      <li><%= link_to 'Food',{ :controller => :foods, :action => :index}, class: "button big" %></li>
      <li><%= link_to 'Admins',{ :controller => :admins, :action => :index}, class: "button big" %></li>
    </ul>
</section>