<section id="intro" class="main">    
    <ul class="actions">
      <li><%= link_to 'Quick order', {:controller => :orders, :action => :new}, class: "button big" %></li>
      <li><%= link_to 'Menu',{ :controller => :site, :action => :menu}, class: "button big" %></li>
    </ul>    
</section>
  